{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">{{ category.title }}</h2>
            <br>
        </div>
        <hr>

        <div class="row">
            {% for product in products_of_category %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{{ product.get_absolute_url }}"><img
                                class="card-img-top"
                                src={{ product.image.url }}
                                        alt="{{ category }} {{ product.title }}"
                            style="height: 250px"></a>
                        <div class="card-body">
                            <h5 class="card-title"><strong>
                                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                            </strong></h5>
                            <h5>{{ product.price }} UAH</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="#" class="text-center">
                                {% if product.available %}
                                    <button class="btn btn-danger">Додати в
                                        корзину
                                    </button>
                                {% else %}
                                    <button type="button"
                                            class="btn btn-dark"
                                            disabled>Немає в наявності
                                    </button>
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733;
                                &#9733; &#9733; &#9734;
                            </small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}

