{% extends 'base.html' %}

{% block content %}
{#    <div class="container">#}
        <div class="row">
            <div class="col-lg-4">
                <br>
                <img src="{{ product.image.url }}" style="width: 350px"
                     alt="">
            </div>
            <div class="col-lg-8">
                <h3 class="text-center">{{ product.title }}</h3>
                <p>{% lorem %}</p>
                <p>{% lorem %}</p>
                <br>
                <p>Цена: <strong>{{ product.price }}</strong></p>
                <a href="#">
                    {% if product.available %}
                        <button class="btn btn-danger">Додати в корзину
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-dark"
                                disabled>Немає в наявності
                        </button>

                    {% endif %}
                </a>
            </div>
        </div>
{#    </div>#}

{% endblock content %}
